<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- TODO: Action sets are deprecated - replace this with commands at some time -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Display Plugin"
            visible="true"
            id="eclipseplugin.actionSet"
            path="additions"
            name="SWAMP Name">
         <menu
               label="SWAMP"
               id="eclipseplugin.actionSet.SWAMPMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="Launch SWAMP"
               style="pulldown"
               icon="icons/swamp-logo-square-height-20.png"
               class="eclipseplugin.actions.LaunchAction"
               tooltip="Upload and assess projects in the SWAMP"
               toolbarPath="sampleGroup"
               id="eclipseplugin.actions.LaunchAction">
         </action>
         <action
         		id="eclipseplugin.actions.menubar.Logout"
         		label="Log Out"
         		mnemonic="O"
         		class="eclipseplugin.actions.menubar.LogoutAction"
         		menubarPath="eclipseplugin.actionSet.SWAMPMenu/sampleGroup">
         </action>
         <action
         		id="eclipseplugin.actions.menubar.Login"
         		label="Log In"
         		mnemonic="I"
         		class="eclipseplugin.actions.menubar.LoginAction"
         		menubarPath="eclipseplugin.actionSet.SWAMPMenu/sampleGroup">
         </action>
         <action
         		id="eclipseplugin.actions.menubar.Resubmit"
         		label="Resubmit Previous Assessment"
         		mnemonic="R"
         		class="eclipseplugin.actions.menubar.ResubmitAction"
         		menubarPath="eclipseplugin.actionSet.SWAMPMenu/sampleGroup">
         </action>
         <action
         		id="eclipseplugin.actions.menubar.Configure"
         		label="Configure Submission"
         		mnemonic="C"
         		class="eclipseplugin.actions.menubar.ConfigureAction"
         		menubarPath="eclipseplugin.actionSet.SWAMPMenu/sampleGroup">
         </action>
      </actionSet>
   </extension>
   
   <!--
       menubarPath="eclipseplugin.actionSet.SWAMPMenu/sampleGroup"
   
   
   menubarPath="SWAMPMenu/sampleGroup"
               toolbarPath="sampleGroup" -->
   
  <!-- 
  org.eclipse.ui.popupMenus is deprecated, we'll do it using commands instead
   <extension 
   		point="org.eclipse.ui.popupMenus">
   	  	<objectContribution
   	  		id="org.eclipse.ui.articles.action.contribution.popup.object"
   	  		objectClass="org.eclipse.core.resources.IFile">
   	  		<filter
   	  			name="projectNature"
   	  			value="org.eclipse.jdt.core.javanature">
   	  		</filter>
   	  		<action
   	  			id="eclipseplugin.actions.RightClickAction"
   	  			label="Upload and assess project"
   	  			icon="icons/swamp-logo-height-20.png"
   	  			menubarPath="additions"
   	  			class="eclipseplugin.actions.LaunchAction">
   	  		</action>
   	  	</objectContribution>
   </extension>
  -->
  
  <extension
  	point="org.eclipse.ui.commands">
  	<command
  		categoryId="eclipseplugin.commands.category"
  		id="eclipseplugin.commands.launchCommand"
  		name="Launch Command">
  	</command>
  </extension>
  
  <extension
  	point="org.eclipse.ui.handlers">
  	<handler
  		class="eclipseplugin.handlers.CommandHandler"
  		commandId="eclipseplugin.commands.launchCommand">
  	</handler>
  </extension>
  		 
  <extension
  	point="org.eclipse.ui.menus">
  	<menuContribution
  		locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
  		<command
  			commandId="eclipseplugin.commands.launchCommand"
  			id="eclipseplugin.menus.launchCommand"
  			label="Assess Project on SWAMP"
  			mnemonic="A">
  			<visibleWhen
  				checkEnabled="false">
               	<with variable="activeMenuSelection">
               		<iterate ifEmpty="false">
               			<adapt type="org.eclipse.core.resources.IProject">
               				<test property="org.eclipse.core.resources.open" value="true" />
               			</adapt>
               		</iterate>
            	</with>
  			</visibleWhen>
  		</command>
  	</menuContribution>
  </extension>

  <extension
        point="org.eclipse.ui.bindings">
  </extension>

</plugin>     
